<div class="flex flex-col rounded-lg">
  <div class="flex items-center justify-between p-3 border-be ">
    <h1 class="text-3xl font_bold ">Products</h1>
    <%= link_to "New product", new_product_path, class: "btn btn--positive" if authenticated? %>
  </div>
  <div class="flex items-center justify-center p-3 prose" id="products" >
    <ul>
      <% @products.each do |product| %>
        <li>
          <%= link_to product.name, product %>
        </li>
      <% end %>
    </ul>
  </div>
</div>