<div class="flex flex-col rounded-lg">
  <div class="flex items-center justify-between p-4 border-be">
    <h1 class="text-xl font-bold">Products</h1>
    <% if authenticated? %>
      <%= link_to "New product", new_product_path, class: "btn btn--positive" %>
    <% end %>
  </div>
  
  <div id="products" class="flex flex-wrap gap p-2 justify-center">
    <% @products.each do |product| %>
      <div class="card p-4 text-center rounded-md shadow-sm border bg-main" style="width: 300px;">
        <% if product.featured_image.attached? %>
          <%= image_tag product.featured_image.variant(resize_to_fill: [300, 200]),
                        class: "rounded-md w-full h-48 object-cover" %>
        <% end %>
        <h2 class="text-lg font-bold text-primary">
          <%= link_to product.name, product, class: "link" %>
        </h2>
      </div>
    <% end %>
  </div>
</div>
