<table class="table">
  <caption>
    Produto
  </caption>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @product.name %></th>
    </tr>
  </tbody>
</table>

<div class="group" role="group" aria-label="Basic example">
  <%= link_to "back", products_path,  class: "btn btn--primary", type: "button" %>
  <%= link_to "Edit", edit_product_path(@product), class: "btn", type: "button" %>
  <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn--negative", type: "button" %>
</div>